html,
body {
  height: 100%;
}

h1 {
  text-align: center;
<<<<<<< Updated upstream
  font-family: "Staatliches", sans-serif;
  letter-spacing: 2px;
=======
>>>>>>> Stashed changes
  border: 0;
}

/*using class name instead of element because of conflicts with description.html*/
.homePageBody {
  margin: auto;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  background-color: #e3e2df;
}

form {
  margin-top: 540px;
  font-weight: 900;
  font-size: 20;
}

input {
  width: 50px;
  border-radius: 5px;
}

.container {
  margin: auto;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.p5Canvas {
  margin: 0;
  padding: 0;
}

.runButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.homePageButton {
  color: #ffffff;
  font-weight: 450;
  background-color: #3500d3;
  border-radius: 5px;
}

.homePageButton_center {
  color: #ffffff;
  font-weight: 450;
  background-color: #3500d3;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
